*{
    padding: 0; margin: 0; box-sizing: border-box;
}
:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.navbar-section-nv{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.logo-name-class-header{
  display: flex; 
  width: 10%;
  align-items: center;
}
.logo-img{
    width: 25%;
    height: auto;
}
.header-logo-name{
    display: flex;
}
.navbar-mid-section{
    display: flex;
    gap: 5rem;
   

    
}
.navbar-icon-section{
    display: flex;
    justify-content: space-between;  
    gap: 2rem;
    font-size: 1.2rem;
}